<div class="nav-container fixed-top">
    <nav class="nav-bar">
        <div class="nav-bar__logo">
            LOGO
        </div>
        <ul class="nav-bar__nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">About Bali</a>
            </li>
            <li>
                <a href="#">Download Apps</a>
            </li>
            <li>
                <a href="#">Log In</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>
</div>