<ul class="nav-bar__nav">
    <li class="nav-item" data-target="index">
        <a href="./index.html" class="link">Home</a>
    </li>
    <li class="nav-item" data-target="aboutUs">
        <a href="./about-us.html" class="link">About Us</a>
    </li>
    <li class="nav-item" data-target="aboutBali">
        <a href="./about-bali.html" class="link">About Bali</a>
    </li>
    <li class="nav-item" data-target="download">
        <a href="./index.html#download" class="link">Download Apps</a>
    </li>
    <li class="nav-item dropdown" data-target="login" id="nav-item-login">
        <a href="javascript:void(0);" class="link dropdown-login" data-toggle="dropdown">Log In</a>
        <form class="dropdown-menu dropdown-menu-right form-login">
            <h4>Log In</h4>
            <div class="login-ipt-warpper">
                <input id="name" type="text" placeholder="Email / Phone Number">
            </div>
            <div class="login-ipt-warpper">
                <input id=pwd type="password" placeholder="Password">
                <a href="javascript:void(0);" class="icon"></a>
            </div>
            <p>
                <a href="javascript:void(0);" id="regBtn">Sign Up</a>
                <a href="javascript:void(0);" id="forgetBtn">Forgot Password?</a>
            </p>
            <div class="login-btn-warpper">
                <button id="login" type="button" class="btn-login">Log In</button>
            </div>
            <div class="login-btn-warpper">
                <button id="cancel" type="button" class="btn-cancel">Cancel</button>
            </div>
        </form>
    </li>
    <li class="nav-item" id="myProfile">
        <!-- <div class="dropdown" data-target="myProfile">
            <a href="javascript:void(0);" class="link dropdown-profile" data-toggle="dropdown">My Profile</a>
            <form class="dropdown-menu dropdown-menu-right profile">
                <div class="profile-head">
                    <div class="profile-head-pic">
                        <img src="" alt="">
                    </div>
                    <div class="profile-head-info">
                        <p class="name">btbtourism</p>
                        <p class="phone">+62 81289826272</p>
                        <p class="email">btbtourism@gmail.com</p>
                    </div>
                    <a class="profile-head__edit" href="javascript:void(0);"></a>
                </div>
                <a class="profile-item" href="javascript:void(0);">Change Password</a>
                <a class="profile-item" href="javascript:void(0);">Change Phone Number</a>
                <a class="profile-item" href="./terms-conditions.html">Terms of Service</a>
                <a class="profile-item" href="./privacy-policy.html">Privacy Policy</a>
                <a class="profile-item" href="javascript:void(0);">Log Out</a>
            </form>
        </div> -->
    </li>
</ul>