<div class="modal" id="forget-1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h4 class="forget-head">Sign Up</h4>
            <div class="tab">
                <div class="tab-head">
                    <span class="tab-head-item active">Phone Number</span>
                    <span class="tab-head-item">Email Address</span>
                </div>
                <div class="tab-body">
                    <div class="forget-ipt-warpper">
                        <div class="addon">
                            <i></i>
                            <span>ID +62</span>
                        </div>
                        <div class="ipt">
                            <input type="text" placeholder="Phone Number">
                        </div>
                    </div>
                    <button class="btn-next" type="button">Next</button>
                    <p class="tips">Verification code will be sent to your phone number</p>
                </div>
            </div>
            <div class="or">or</div>
            <button type="button" class="btn-fb">
                <span>Connect with Facebook</span>
                <i class="icon-fb"></i>
            </button>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                Cancel
            </button>
        </div>
    </div>
</div>