@import "../../assets/css/_variable.css";
@import "../../assets/css/base.css";
@import "../../components/header/header.css";
@import "../../components/giant-screen/giant-screen.css";
@import "../../components/category/category.css";
@import "../../components/news-list/news-list.css";
@import "../../components/footer/footer.css";

html, body {
    height: 100%;
}

.news-details {
    max-width: $maxWidth;
    min-width: $minWidth;
    padding-right: $boundaryDistance;
    padding-left: $boundaryDistance;
    margin: 0 auto;
    display: flex;
    padding-top: 45px;
}
.layer-warpper {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
}
.news-details__pic {
    width: 33%;
    min-width: 250px;
    min-height: 112px;
    flex-shrink: 0;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.news-details__body {
    flex-grow: 1;
    margin-left: 5%;
    color: rgb(74, 74, 74);
    .tit {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .subtit {
        font-size: 14px;
    }
    .date {
        font-size: 14px;
    }
}


