
@import "../../assets/css/_variable.css";

body {
	background-color: #fff;
}
.nav-container {
    background: rgba(74,74,74,.38);
    .nav-bar {
        max-width: $maxWidth;
        min-width: $minWidth;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        height: 40px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}

.nav-bar__logo {
	flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.nav-bar__nav {
	list-style-type: none;
	margin: 0;
	display: flex;
    align-items: stretch;
    flex-shrink: 0;
	li {
        display: flex;
        align-items: center;
        margin: 0 12px;
        padding: 0 1px;
		font-size: 14px;
		color: #fff;
        border-bottom: 0;
        a {
            color: #fff;
            text-transform: capitalize;
            text-decoration: none;
            &:hover {
                color: #ededed;
            }
        }
        &.active {
             border-bottom: 2px solid rgb(255, 255, 255);
        }
	}
}

.footer-container {
    background: rgba(74,74,74,.38);
    .footer-bar {
        max-width: $maxWidth;
        min-width: $minWidth;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span{
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
        }
    }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}
.carousel {
    min-width: $minWidth;
    .carousel-control-prev,
    .carousel-control-next {
        span{
            width: 30px;
            height: 50px;
        }
    }
    .carousel-indicators {
        bottom: 60px;
    }
    .carousel-item {
        background-color: #ececec;
        img {
            display: block;
            height: 100%;
        }
        .carousel-caption {
            position: absolute;
            top: 15%;
            right: 15%;
            bottom: 15%;
            left: 15%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            h3 {
                font-size: 45px;
                width: 80%;
                max-width: 600px;
            }
            p {
                font-size: 16px;
                width: 80%;
                max-width: 600px;
            }
        }
    }
}

