<div class="category">
    <ul class="category-warpper">
        <li>
            Category :
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon icon-attraction"></i><strong>Attraction</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon icon-restaurannt"></i><strong>Restaurant</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon icon-tour"></i><strong>Tour</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon icon-souvenir"></i><strong>Souvenir</strong>
            </a>
        </li>
    </ul>
</div>