<div class="category">
    <ul class="category-warpper">
        <li>
            Category :
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i><strong>Attraction</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i><strong>Restaurant</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i><strong>Tour</strong>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i></i><strong>Souvenir</strong>
            </a>
        </li>
    </ul>
</div>