@import "../../components/header/header.css";
@import "../../components/footer/footer.css";

html {
    height: 100%;
}
body {
    background-color: #fff;
    height: 100%;
    min-height: 500px;
}

.warpper {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-top: 40px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.tit {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    text-align: right;
    color: rgb(74, 74, 74);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.content {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    text-align: left;
    color: rgb(74, 74, 74);
    padding: 30px;
}


