@import "../../components/header/header.css";
@import "../../components/footer/footer.css";

html {
    height: 100%;
}
body {
    background-color: #fff;
    height: 100%;
    min-height: 500px;
    min-width: $minWidth;
}

.warpper {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-top: 40px;
    background-image: url("../../assets/img/about-bali-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    position: relative;
}
.warpper-inner {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.tit {
    padding: 0 60px;
    text-align: right;
    color: rgb(74, 74, 74);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.content {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    text-align: left;
    color: rgb(74, 74, 74);
    padding: 30px;
}


