@import "../../assets/css/_variable.css";

.news-list {
    max-width: 1024px;
    min-width: $minWidth;
    padding-right: $boundaryDistance;
    padding-left: $boundaryDistance;
    margin: 0 auto;
    padding-top: 30px;
}

.news-list__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    h5 {
        font-size: 18px;
        color: rgb(74, 74, 74);
        margin-bottom: 0;
    }
    a {
        font-size: 16px;
        color: rgb(74, 74, 74);
    }
}
.news-list__items {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    /*box-shadow: 0 1px 2px 0 rgb(203, 202, 202);*/
    .item {
        display: flex;
        align-content: flex-start;
        border-bottom: solid 1px rgb(239, 239, 239);
        padding: 10px;
        .pic {
            flex-shrink: 0;
            min-width: 250px;
            width: 25%;
            overflow: hidden;
            border-radius: 2px;
            img {
                width: 100%;
            }
        }
        .body {
            color: rgb(74, 74, 74);
            flex-grow: 1;
            margin-left: 20px;
            h5 {
                font-size: 18px;
                a {
                    color: inherit;
                }
            }
            p {
                font-size: 15px;
            }
        }
    }
}

.news-list__loading {
    text-align: center;
    padding-bottom: 20px;
    color: #ccc;
    width: 100%;
    display: none;
    a {
        color: inherit;
    }
}