
@import "../../assets/css/base.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";

html {
    height: 100%;
}
body {
    background-color: #fff;
    height: 100%;
    min-height: 500px;
    min-width: $minWidth;
}

.warpper {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-top: 40px;
    background-image: url("../../assets/img/about-us-bg.png");
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 100% auto;
}
.warpper-inner {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.tit {
    margin-top: 46px;
    padding: 0 60px;
    text-align: left;
    color: rgb(74, 74, 74);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.items {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgb(232, 232, 232);
        .pic-warper {
            flex-shrink: 0;
            padding: 35px 50px;
            .pic {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #eee;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
        .txt-warper {
            flex-grow: 1;
            font-size: 18px;
            line-height: 1.5;
            text-align: left;
            color: rgb(74, 74, 74);
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
}

.text-left {
    text-align: left;
    padding-right: 20px;
}
.text-right {
    text-align: right;
    padding-left: 20px;
}

