@import "../../assets/css/_variable.css";

@font-face {
    font-family: 'Calibre';
    src:url('../../assets/font/Calibre-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Calibre';
    src: url('../../assets/font/Calibre-Medium.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Calibre';
    src: url('../../assets/font/Calibre-Semibold.ttf') format('truetype');
    font-weight: 900;
}

html, body {
    font-size: responsive;
    lower-font-range: $minWidth;
    upper-font-range: $maxWidth;
    min-font-size: 0.875rem;
    max-font-size: 1.125rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Calibre, "Helvetica Neue", Arial, sans-serif;
}
