<div class="best-choice">
    <div class="best-choice__head">
        <h5>Our Best Choice</h5>
    </div>
    <ul class="best-choice__items clearfix">
        <!--<li class="item">-->
            <!--<div class="inner">-->
                <!--<div class="pic">-->
                    <!--<a href="./product-details.html">-->
                        <!--<img src="../../assets/img/mm10.jpg" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="txt">-->
                    <!--<h3>Marriot Hotel Bali Marriot Hotel Bali Marriot Hotel Bali</h3>-->
                    <!--<p>-->
                        <!--<a href="#">Booking Via Website</a>-->
                    <!--</p>-->
                    <!--<p><span>Rp. 450,000</span></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
    <div class="best-choice__loading">
        Loading
    </div>
</div>